<a href="https://colab.research.google.com/github/brainmentors/GoogleColabIntroduction/blob/master/UploadData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Google Colab Introduction

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [0]:
# read data from github
dataset = pd.read_csv('https://gist.githubusercontent.com/curran/a08a1080b88344b0c8a7/raw/639388c2cbc2120a14dcf466e85730eb8be498bb/iris.csv')

In [0]:
dataset.shape

(150, 5)

In [0]:
dataset.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [0]:
# read data from local machine

from google.colab import files

In [0]:
uploaded = files.upload()

Saving appl_1980_2014.csv to appl_1980_2014.csv

In [0]:
dataset = pd.read_csv('appl_1980_2014.csv')

In [0]:
dataset.head()

         Date   Open   High    Low  Close    Volume  Adj Close
0  2014-07-08  96.27  96.80  93.92  95.35  65130000      95.35
1  2014-07-07  94.14  95.99  94.10  95.97  56305400      95.97
2  2014-07-03  93.67  94.10  93.20  94.03  22891800      94.03
3  2014-07-02  93.87  94.06  93.09  93.48  28420900      93.48
4  2014-07-01  93.52  94.07  93.13  93.52  38170200      93.52

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
path = 'drive/My Drive/ML_Colab/SP500_train.csv'

In [0]:
pd.read_csv(path).head()

         date         open         high  ...        close    adj_close      volume
0  2012-01-03  1258.859985  1284.619995  ...  1277.060059  1277.060059  3943710000
1  2012-01-04  1277.030029  1278.729980  ...  1277.300049  1277.300049  3592580000
2  2012-01-05  1277.300049  1283.050049  ...  1281.060059  1281.060059  4315950000
3  2012-01-06  1280.930054  1281.839966  ...  1277.810059  1277.810059  3656830000
4  2012-01-09  1277.829956  1281.989990  ...  1280.699951  1280.699951  3371600000

[5 rows x 7 columns]

In [0]:
# read data from kaggle
import os

In [0]:
os.environ['KAGGLE_USERNAME'] = 'brainmentors'
os.environ['KAGGLE_KEY'] = 'f1210adf59cb06dc6b4a4f29bee4ccdd'
!kaggle datasets download -d rounakbanik/the-movies-dataset

Downloading the-movies-dataset.zip to /content
 94% 214M/228M [00:01<00:00, 135MB/s]
100% 228M/228M [00:01<00:00, 124MB/s]

In [0]:
!unzip the-movies-dataset.zip

Archive:  the-movies-dataset.zip
  inflating: credits.csv
  inflating: keywords.csv
  inflating: links.csv
  inflating: links_small.csv
  inflating: movies_metadata.csv
  inflating: ratings.csv
  inflating: ratings_small.csv

In [0]:
pd.read_csv('ratings.csv').head()

   userId  movieId  rating   timestamp
0       1      110     1.0  1425941529
1       1      147     4.5  1425942435
2       1      858     5.0  1425941523
3       1     1221     5.0  1425941546
4       1     1246     5.0  1425941556